.axit {
  padding: 98px 0 101px;

  background: url("../img/bg/axit-background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.axit::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}
.axit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.axit-text {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 544px;
}
.axit-title {
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 42px;
}
.axit-title::after {
  content: "IT";
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 400;
  color: #ec7979;
  display: inline-block;
}
.main-title {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
}
.main-title::after {
  content: "";
  width: 64px;
  border: 0.1px solid rgba(255, 255, 255, 0.8);
  display: block;
  margin: 32px 0 39px;
}
.axit-title-text {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  width: 282px;
  margin-bottom: 39px;
}

.axit-item-content {
  border: 1px solid #ffffff;
  width: 135px;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  transition: 0.2s;
  animation-name: download;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.axit-download {
  display: block;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
@keyframes download {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
  }
}
.axit-item-content:hover {
  background-color: rgb(71, 110, 48);

  transform: scale(1.2);
}
.axit-form1 {
  width: 370px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
}
.axit-form-title {
  line-height: 56px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
.axit-form-title span {
  color: #ec7979;
}
.axit-form-content {
  display: flex;
  flex-direction: column;
  padding: 28px 59px 61px;
}
.axit-form-content label {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #bdbdbd;
  margin-top: 16px;
}
.axit-form-content input {
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
}
.axit-form1 button {
  line-height: 54px;
  text-align: center;
  background-color: #ec7979;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  border: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
