.design {
  padding: 57px 0 38px;

  background: url("../img/bg/design-background.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.design::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
}
.conteiner {
  position: relative;
  z-index: 2;
}

.design-title-title {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.design-title-title::after {
  content: "";
  width: 64px;
  border: 1px solid #ffffff;
  display: block;
  margin: 34px auto 0;
}

.design-title-text {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  margin: 34px 0 57px;
}

.design-item-content {
  display: block;
  border: 1px solid #ffffff;
  width: 135px;
  margin: auto;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  transition: 1s;
}
.design-download {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

.design-item-content:hover {
  background-color: rgb(71, 110, 48);
  color: coral;
}
