.footer {
  padding: 30px 0 15px;
  background-color: rgb(0, 0, 0);
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-list-item {
  margin-left: 45px;
}
.footer-list-item:first-child {
  margin-left: 0px;
}
.footer-list-item a {
  font-size: 25px;
  color: rgb(211, 205, 221);
}

.footer-title {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 18px;
}
