.header {
  padding: 20px 0;
  background-color: #000000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}
.logo::after {
  content: "IT";
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  color: #ec7979;
  display: inline-block;
}
.navigation-list {
  display: flex;
}
.navigation-list-item {
  margin-left: 48px;
  border-bottom: 3px solid #000000;
}
.navigation-list-item:first-child {
  margin-left: 0px;
}

.navigation-list-item a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.navigation-list-item:hover {
  border-bottom: 3px solid coral;
}
