@import url("../css/header.css");
@import url("../css/media.css");
@import url("../css/axit.css");
@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/design.css");
@import url("../css/contact.css");
@import url("../css/footer.css");
@import url("../css/cdn.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.conteiner {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.title-title {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  color: rgb(21, 21, 21);
  text-align: center;
  text-transform: uppercase;
}

.title-title::after {
  content: "";
  width: 64px;
  border: 1px solid #e72424;
  display: block;
  margin: 34px auto 0;
}

.title-text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  text-align: center;
  margin: 34px 0 68px;
}
