.media {
  padding: 14px 0 17px;
  background-color: #f8efef;
}

.media-title {
  width: 365px;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.media-title-title {
  margin-bottom: 14px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
.media-text-text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
}

.media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}
.media-list-item {
  margin-left: 65px;
  transition: 1s;
}
.media-list-item:first-child {
  margin-left: 0px;
}
.media-list-item a {
  font-size: 35px;
  color: rgb(124, 110, 145);
}

.media-list-item a:hover {
  color: #7a0e0e;
}

.media-list-item:hover {
  color: #7a0e0e;
  transform: rotate(720deg) scale(2);
}
