.pricing {
  padding: 80px 0 60px;
  background-color: #f5f5f5;
}

.pricing-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.pricing-item {
  width: 340px;
  margin: 0 15px;
  text-align: center;
}
/* .pricing-list {
  margin: 0 15px;
  text-align: center;
} */

.picing-list-tarif {
  line-height: 50px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #333333;
}

.picing-list-cost {
  line-height: 100px;
  font-family: "Raleway";
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  background-color: #333333;
  margin: 2px 0;
}

.picing-list-content {
  line-height: 50px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255, 0.5);
  background-color: #333333;
}

.picing-list-item {
  line-height: 40px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  background-color: #ffffff;
  margin-top: 4px;
}
